.jumbotron {
	padding-top: 2rem;
	background-color: #e2edff;
}
/*nav ul li:hover ul
{
	display: block;
}
nav ul li ul
{
	display: none;
}
nav ul li ul li
{
	width: 100%;
	height: 30px;
	border: 1px solid;
}*/